/* Шапка  */
.header {
    background: linear-gradient(rgba(127, 130, 185, 0.432), rgba(87, 90, 143, 0.363)), url(../img/bands2.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    /* padding-bottom: 30px; */
}


li {
    display: inline-flex;
    padding-left: 60px;
   
}

nav li a {
    margin-top: 40px;
    color: rgb(207, 226, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-size: 12px;
    
}

nav li a:hover {
    color:rgb(0, 106, 255);
}


.menu {
    position: relative;
    top: 40px;
    min-height: 100px;
    background-color: rgb(0, 33, 82);
}

/* Сертификаты */
.zagolovok-partners {
    color: rgb(0, 33, 82);
    padding-top: 70px;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
}

.main-partners-one {
    display: inline-flex;
    padding-top: 50px;
    text-align: center;
}

.main-partners-two {
    display: inline-flex;
    padding-top: 100px;
    text-align: center;
}

.main-partners-three {
    display: inline-flex;
    padding-top: 100px;
    text-align: center;
}

figcaption {
    color: rgb(0, 33, 82);
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 2px 2px 10px rgb(0, 13, 129); */
    margin-top: 30px;
    text-align: center;
}

/* нижняя часть */

.footer {
    margin-top: 100px;
    min-height: 400px;
    background-color: #262626;
}

.header-of-the-footer {
    padding-top: 30px;
    color: white;
    font-size: 30px;
    /* <!-- поправить размер  --> */
}

.about-the-company {
    padding-top: 20px;
    padding-bottom: 20px;
   text-decoration: none;
   font-size: 20px;
   color: white;
   
}

.points-about-the-company{
    text-decoration: none;
    display: inline-flex; 
   flex-direction: column;
   color: white;
}


.customers{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-flex; 
   flex-direction: column;
}


.partners{
    font-size: 20px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.lower-band {
    padding-top: 60px;
}
   

.something {
    padding-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.phone-number {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}

.address {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}