body {
    background: linear-gradient(rgba(127, 130, 185, 0.432), rgba(87, 90, 143, 0.363)), url(../img/bands2.jpg);
    /* height: 100%; */
    background-size: cover;
    background-position: center;
    /* padding-bottom: 30px; */
}

/* Шапка  */
.header {
    /* background: linear-gradient(rgba(127, 130, 185, 0.432), rgba(87, 90, 143, 0.363)), url(../img/bands2.jpg); */
    height: 100%;
    /* background-size: cover; */
    /* background-position: center; */
    padding-bottom: 30px;
}


.menu {
    position: relative;
    top: 40px;
    min-height: 100px;
    /* border-style: solid; */
    /* box-shadow: 0px 0px 10px rgb(24, 0, 112); */
    background-color: rgb(0, 33, 82);
}

nav {
    padding-top: 30px;
}
 nav ul {
     list-style: none;
 }

 nav > ul > li {
     float: left;
 }

 nav ul::after {
     content: "";
     display: flex;
     clear: both;
 }

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(207, 226, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-size: 12px;
    /* padding-top: 40px;
    padding-bottom: 30px; */
 }

nav ul li a:hover {
    color:rgb(0, 33, 82);
    background-color: white;
} 

nav ul ul {
    display: none;
    position: absolute;
    background-color: rgb(0, 33, 82) ;
}


nav ul li:hover ul {
    display: block;
}

/* Сертификаты */
.zagolovok-certificates {
    color: rgb(0, 33, 82);
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
}

.main-certificates-one {
    display: inline-flex;
    padding-top: 50px;
}
.main-certificates-two {
    display: inline-flex;
    padding-top: 100px;
}
.main-certificates-three {
    display: inline-flex;
    padding-top: 100px;
}
.main-certificates-four {
    display: inline-flex;
    padding-top: 100px;
}

/* нижняя часть */

.footer {
    min-height: 400px;
    background-color: #262626;
}

.header-of-the-footer {
    padding-top: 30px;
    color: white;
    font-size: 30px;
    /* <!-- поправить размер  --> */
}

.about-the-company {
    padding-top: 20px;
    padding-bottom: 20px;
   text-decoration: none;
   font-size: 20px;
   color: white;
   
}

.points-about-the-company{
    text-decoration: none;
    display: inline-flex; 
   flex-direction: column;
   color: white;
}


.customers{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-flex; 
   flex-direction: column;
}


.partners{
    font-size: 20px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.lower-band {
    padding-top: 60px;
}
   

.something {
    padding-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.phone-number {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}

.address {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}