body {
    background: linear-gradient(rgba(127, 130, 185, 0.432), rgba(87, 90, 143, 0.363)), url(../img/bands2.jpg);
    background-size: cover;
    background-position: center;
}

/* Шапка  */
.header {
    height: 100%;
    padding-bottom: 30px;
}


.menu {
    position: relative;
    top: 40px;
    min-height: 100px;
    background-color: rgb(0, 33, 82);
}

nav {
    padding-top: 30px;
}
 nav ul {
     list-style: none;
 }

 nav > ul > li {
     float: left;
 }

 nav ul::after {
     content: "";
     display: flex;
     clear: both;
 }

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(207, 226, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-size: 12px;
 }

nav ul li a:hover {
    color:rgb(0, 33, 82);
    background-color: white;
} 

nav ul ul {
    display: none;
    position: absolute;
    background-color: rgb(0, 33, 82) ;
}


nav ul li:hover ul {
    display: block;
}

/* Контакты */
.contactsss {
    padding-bottom: 100px;
    background: linear-gradient(rgba(208, 208, 228, 0.9), rgba(87, 90, 143, 0.9));
}

.zagolovok-contacts {
    color: rgb(0, 33, 82);
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
    
}

.zagolovok-contacts:hover {
    color: rgb(0, 33, 82);
}

.points {
    padding-top: 50px;
    font-weight: bold;
}

.zagolovki {
    color:rgb(0, 33, 82);
    text-decoration: none;
    font-size: 18px;
}

.zagolovki:hover {
    color:rgb(0, 33, 82);
}

.signature {
    color: rgb(0, 33, 82);
    text-decoration: none;
    font-size: 22px;
}

.signature:hover {
    color:rgb(0, 33, 82);
}

.pointss {
    padding-top: 50px;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid rgb(0, 33, 82);
    padding-bottom: 30px;
}

.pointss:hover {
    color:rgb(0, 33, 82);
}

.signaturee {
    color: rgb(0, 33, 82);
    text-decoration: none;
    font-size: 22px;
}

.signaturee:hover {
    color:rgb(0, 33, 82);
}

/* Нижний колонтитул */

.footer {
    min-height: 400px;
    background-color: #262626;
}

.header-of-the-footer {
    padding-top: 30px;
    color: white;
    font-size: 30px;
}

.about-the-company {
    padding-top: 20px;
    padding-bottom: 20px;
   text-decoration: none;
   font-size: 20px;
   color: white;
   
}

.points-about-the-company{
    text-decoration: none;
    display: inline-flex; 
   flex-direction: column;
   color: white;
}


.customers{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-flex; 
   flex-direction: column;
}


.partners{
    font-size: 20px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.lower-band {
    padding-top: 60px;
}
   

.something {
    padding-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.phone-number {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}

.address {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}