body {
    background: linear-gradient(rgba(127, 130, 185, 0.432), rgba(87, 90, 143, 0.363)), url(../img/bands2.jpg);
    background-size: cover;
    background-position: center;
}

/* Шапка  */
.header {
    /* background: linear-gradient(rgba(127, 130, 185, 0.432), rgba(87, 90, 143, 0.363)), url(../img/bands2.jpg); */
    height: 100%;
    /* background-size: cover;
    background-position: center; */
    /* padding-bottom: 30px; */
}


.menu {
    position: relative;
    top: 40px;
    min-height: 100px;
    /* border-style: solid; */
    /* box-shadow: 0px 0px 10px rgb(24, 0, 112); */
    background-color: rgb(0, 33, 82);
}

nav {
    padding-top: 30px;
}
 nav ul {
     list-style: none;
 }

 nav > ul > li {
     float: left;
 }

 nav ul::after {
     content: "";
     display: flex;
     clear: both;
 }

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(207, 226, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-size: 12px;
    /* padding-top: 40px;
    padding-bottom: 30px; */
 }

nav ul li a:hover {
    color:rgb(0, 33, 82);
    background-color: white;
} 

nav ul ul {
    display: none;
    position: absolute;
    background-color: rgb(0, 33, 82) ;
}


nav ul li:hover ul {
    display: block;
}

/*  Заказчики */
.zagolovok-customers {
    color: rgb(0, 33, 82);
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
}

.main-customers {
    display: inline-flex;
    padding-top: 50px;
    display: inline-flex;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.customer-signatures {
    display: inline-flex;
    padding-top: 30px;
    display: inline-flex;
    color: rgb(0, 33, 82);
    font-size: 25px;
    font-weight: bold;
    /* text-shadow: 2px 2px 10px rgb(0, 13, 129); */
    padding-bottom: 60px;
    background-color: rgb(89, 43, 226);
    text-align: center;
}

.main-customers {
    padding-bottom: 50px; 
}

.main-customers-one {
    margin-left: 10px;
    margin-right: 10px;  
}

figcaption {
    color: rgb(0, 33, 82);
    /* text-shadow: 2px 2px 10px rgb(0, 13, 129); */
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    text-decoration: none
}

/* Нижний колонтитул */

.footer {
    margin-top: 100px;
    min-height: 400px;
    background-color: #262626;
}

.header-of-the-footer {
    padding-top: 30px;
    color: white;
    font-size: 30px;
}

.about-the-company {
    padding-top: 20px;
    padding-bottom: 20px;
   text-decoration: none;
   font-size: 20px;
   color: white;
   
}

.points-about-the-company{
    text-decoration: none;
    display: inline-flex; 
   flex-direction: column;
   color: white;
}


.customers{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-flex; 
   flex-direction: column;
}


.partners{
    font-size: 20px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.lower-band {
    padding-top: 60px;
}
   

.something {
    padding-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.phone-number {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}

.address {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}