/* Шапка  */
.header {
    background-image: url(../img/background_picture_one.jpg);
    min-height: 900px;
    background-size: cover;
    background-position: center;
}

li {
    display: inline-flex;
    padding-left: 65px;
   
}

li a {
    margin-top: 50px;
    color: rgb(207, 226, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    
}

li a:hover {
    color:rgb(0, 106, 255);
}


.menu {
    position: relative;
    top: 40px;
    min-height: 100px;
    /* border-style: solid; */
    box-shadow: 0px 0px 10px rgb(24, 0, 112);
    background-color: rgb(0, 33, 82);
}

.main-flex {
    display: flex;
    min-height: 700px;
}

.second-flex {
    margin: auto;
}

.main-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.zagone {
    font-size: 75px;
    text-shadow: 2px 2px 10px rgb(0, 13, 129);
}

.zagtwo {
    font-size: 40px;
    text-shadow: 2px 2px 10px rgb(0, 13, 129);
}

/* Основная часть */
/* Освновные направления деятельности */

.section-one {
    background-image: url(../img/bands.jpg);
    min-height: 750px;
    background-size: cover;
    background-position: center; 
}

.directions {
    display: flex;
    min-height: 700px;
}

.one {
    margin: auto;
}

.zagolovok {
    font-weight: bold;
    color: rgb(207, 226, 255);
    font-size: 65px;
    text-shadow: 1px 1px 10px rgb(0, 33, 82);
    margin-bottom: 40px;
}

.main-text {
    color: rgb(207, 226, 255);
    font-size: 25px;
    text-shadow: 2px 2px 10px rgb(0, 13, 129);
}



/* Стратегические цели и задачи */

.section-two {
    /* background-image: url(../img/bands.jpg); */
    min-height: 750px;
    /* background-size: cover;
    background-position: center;  */
    background: linear-gradient(to right, rgb(207, 226, 255) 61%, rgb(0, 33, 82) 39%);
}

.directions {
    display: flex;
    min-height: 700px;
}

.two {
    margin: auto;
}

.strategic-objectives {
    min-height: 750px;
    display: inline-flex; 
    flex-direction: column;
    padding-top: 200px;
    width: 100%;
    
}
.zagolovok-two {
    font-weight: bold;
    color: rgb(0, 33, 82);
    font-size: 65px;
    /* text-shadow: 1px 1px 10px rgb(0, 33, 82); */
    margin-bottom: 40px;
}

.main-text-two {
    color: rgb(0, 33, 82);
    font-size: 25px;
    /* text-shadow: 2px 2px 10px rgb(0, 13, 129); */
}
/* Задачи */
.tasks {
    min-height: 750px;
    display: inline-flex; 
    flex-direction: column;
    padding-top: 75px;
    width: 100%;
}

.zagolovok-two-two {
    text-align: center;
    font-weight: bold;
    color: rgb(207, 226, 255);
    font-size: 65px;
    text-shadow: 1px 1px 10px rgb(0, 33, 82);
    margin-bottom: 40px;
}

.main-text-two-two {
    color: rgb(207, 226, 255);
    font-size: 20px;
    text-shadow: 2px 2px 10px rgb(0, 13, 129);
}

/* Нижний колонтитул */

.footer {
    min-height: 400px;
    background-color: #262626;
}

.header-of-the-footer {
    padding-top: 30px;
    color: white;
}

.about-the-company {
    padding-top: 20px;
    padding-bottom: 20px;
   text-decoration: none;
   font-size: 20px;
   color: white;
   
}

.points-about-the-company{
    text-decoration: none;
    display: inline-flex; 
   flex-direction: column;
   color: white;
}


.customers{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-flex; 
   flex-direction: column;
}


.partners{
    font-size: 20px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.lower-band {
    padding-top: 60px;
}
   

.something {
    padding-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.phone-number {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}

.address {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}
