/* Шапка  */
.header {
    background: linear-gradient(rgba(127, 130, 185, 0.432), rgba(87, 90, 143, 0.363)), url(../img/bands2.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
}


.navmain li {
    display: inline-flex;
    padding-left: 60px;
   
}

.navmain li a {
    margin-top: 40px;
    color: rgb(207, 226, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-size: 12px;
    
}

.navmain li a:hover {
    color:rgb(0, 106, 255);
}


.menu {
    position: relative;
    top: 40px;
    min-height: 100px;
    /* border-style: solid; */
    /* box-shadow: 0px 0px 10px rgb(24, 0, 112); */
    background-color: rgb(0, 33, 82);
}

/* Реализованные проекты */
.zagolovok-implemented_projects {
    color: rgb(0, 33, 82);
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
}

.zagolovok-tsos {
    color: rgb(255, 255, 255);
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
    text-shadow: 2px 2px 20px rgba(0, 33, 82, 0.7);
    text-align: center;
}

.implemented_projects-names {
    padding-top: 30px;
    /* margin-bottom: 20px; */
    padding-bottom: 25px;
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: rgb(224, 236, 255);
    text-align: center;
    text-shadow: 2px 2px 10px rgb(0, 13, 129);
    /* background-color: rgb(0, 13, 129); */
    background: linear-gradient( rgba(0, 33, 82, 0.7), rgba(0, 33, 82, 0.7)); 
    box-shadow: 0 0 15px rgb(225, 255, 255);
}

.implemented_projects-names-one {
    padding-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: rgb(224, 236, 255);
    text-align: center;
    text-shadow: 2px 2px 1px rgb(0, 13, 129);
    background: linear-gradient( rgba(0, 33, 82, 0.1), rgba(121, 145, 181, 0.382)); 
}

/* Нижний колонтитул */

.footer {
    margin-top: 130px;
    min-height: 400px;
    background-color: #262626;
}

.header-of-the-footer {
    padding-top: 30px;
    color: white;
    font-size: 30px;
}

.about-the-company {
    padding-top: 20px;
    padding-bottom: 20px;
   text-decoration: none;
   font-size: 20px;
   color: white;
   
}

.points-about-the-company{
    text-decoration: none;
    display: inline-flex; 
   flex-direction: column;
   color: white;
}


.customers{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-flex; 
   flex-direction: column;
}


.partners{
    font-size: 20px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.lower-band {
    padding-top: 60px;
}
   

.something {
    padding-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.phone-number {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}

.address {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}
