/* Шапка  */
body {
    background: linear-gradient(rgba(127, 130, 185, 0.432), rgba(87, 90, 143, 0.363)), url(../img/bands1.png);
    background-size: cover;
}
.header {
    min-height: 200px;
    background-position: center;
}

.menu {
    position: relative;
    top: 40px;
    min-height: 100px;
    background-color: rgb(0, 33, 82);
}

nav {
    padding-top: 30px;
}
 nav ul {
     list-style: none;
 }

 nav > ul > li {
     float: left;
 }

 nav ul::after {
     content: "";
     display: flex;
     clear: both;
 }

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(207, 226, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-size: 12px;
 }

nav ul li a:hover {
    color:rgb(0, 33, 82);
    background-color: white;
} 

nav ul ul {
    display: none;
    position: absolute;
    background-color: rgb(0, 33, 82) ;
}


nav ul li:hover ul {
    display: block;
}


.main-flex {
    display: flex;
    min-height: 400px;
}

.second-flex {
    margin: auto;
}

.main-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.zagone {
    font-size: 40px;
    text-shadow: 2px 2px 10px rgb(0, 13, 129);
}

.zagtwo {
    font-size: 20px;
    text-shadow: 2px 2px 10px rgb(0, 13, 129);
}

/* Основная часть */
/* Освновные направления деятельности */

.section-one {
   background: linear-gradient(rgba(188, 215, 255, 0.359), rgba(188, 215, 255, 0.359));
    min-height: 500px;
    background-size: cover;
    background-position: center; 
    padding-bottom: 30px;
    border-style: solid;
}

.directions-one {
    display: flex;
    min-height: 470px;
}

.one {
    margin: auto;
}

.zagolovok {
    font-weight: bold;
    color: rgb(226, 233, 243);
    font-size: 35px;
    text-shadow: 1px 1px 1px rgb(0, 33, 82);
    margin-bottom: 30px;
}

.main-text {
    color: rgb(226, 233, 243);
    font-size: 16px;
    text-shadow: 1px 1px 1px rgb(0, 33, 82);

}


/* Стратегические цели и задачи */

.section-two {
    min-height: 400px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.directions-two {
    display: flex;
    min-height: 400px;

}

.two {
    margin: auto;
}

.strategic-objectives {
    min-height: 400px;
    display: inline-flex; 
    flex-direction: column;
    padding-top: 80px;
    width: 100%;
    background-color: rgba(188, 215, 255, 0.359);
    padding-right: 30px;
    padding-left: 30px;
    border-style: solid;
}
.zagolovok-two {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 33, 82);
    font-size: 40px;
    margin-bottom: 30px;
    color: rgb(226, 233, 243);
    text-shadow: 1px 1px 1px rgb(0, 33, 82);
}

.main-text-two {
    text-align: center;
    color: rgb(226, 233, 243);
    text-shadow: 1px 1px 1px rgb(0, 33, 82);
    font-size: 20px;
}
/* Задачи */
.tasks {
    font-weight: bold;
    min-height: 400px;
    display: inline-flex; 
    flex-direction: column;
    padding-top: 50px;
    background-color: rgba(188, 215, 255, 0.359);
    padding-right: 30px;
    padding-left: 30px;
    border-style: solid;
}

.zagolovok-two-two {
    text-align: center;
    font-weight: bold;
    color: rgb(226, 233, 243);
    text-shadow: 1px 1px 1px rgb(0, 33, 82);
    font-size: 40px;
    margin-bottom: 30px;
}

.main-text-two-two {
    text-align: center;
    color: rgb(226, 233, 243);
    text-shadow: 1px 1px 1px rgb(0, 33, 82);
    font-size: 15px;
}

/* Нижний колонтитул */

.footer {
    min-height: 400px;
    background-color: #262626;
}

.header-of-the-footer {
    padding-top: 30px;
    color: white;
    font-size: 30px;
}

.about-the-company {
    padding-top: 20px;
    padding-bottom: 20px;
   text-decoration: none;
   font-size: 20px;
   color: white;
   
}

.points-about-the-company{
    text-decoration: none;
    display: inline-flex; 
   flex-direction: column;
   color: white;
}


.customers{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    display: inline-flex; 
   flex-direction: column;
}


.partners{
    font-size: 20px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.lower-band {
    padding-top: 60px;
}
 
.something {
    padding-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.phone-number {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}

.address {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-top: 155px;
}
